version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: app_review_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: app_review_db2
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_review_web
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./public/uploads:/var/www/html/public/uploads
    environment:
      DATABASE_URL: "mysql://app_user:app_password@db:3306/app_review_db2?serverVersion=8.0&charset=utf8mb4"
      APP_ENV: dev
      APP_SECRET: d60d6531ff7a8dcc7eaea8f7a1893c28
      MAILER_DSN: "smtp://dc683cddd2c5d2:03a568325a3679@sandbox.smtp.mailtrap.io:2525?encryption=tls&auth_mode=login"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: app_review_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root_password
    depends_on:
      - db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
    driver: local